/* HEADER */

/* Logo Floricultura Teresinha */
.logo {
  font-family: Poppins;
  color: #043f15;
  text-decoration: none;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.logo img {
  margin-top: 2px;
  width: 30vw;
}

/* Menu de navegação */
nav {
  z-index: 999;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Poppins;
  height: 8vh;
  padding: 5vh 2vh;
  background-color: #ffffff;
}

/* ICONE USUARIO */

.user i {
  margin-bottom: 10px;
  font-size: 25px;
  color: #f37f75;
  cursor: pointer;
}

/* ICONE SHOPPING */

.shopping {
  position: relative;
}

.shopping i {
  font-size: 30px;
  color: #f37f75;
  cursor: pointer;
}

.shopping span {
  position: absolute;
  top: 15px;
  left: -5px;
  width: 15px;
  height: auto;
  font-size: 10px;
  background-color: black;
  border-radius: 50%;
  color: white;
  text-align: center;
  margin: 0 auto;
  visibility: hidden;
}

nav a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  transition: 0.3s;
  font-weight: 500;
  background-color: transparent;
}

nav a:hover {
  opacity: 0.7;
}

.nav-icons {
  font-size: 70px;
  color: black;
}
