/* HEADER */

/* Logo Floricultura Teresinha */
.logo {
  font-family: Poppins;
  color: #043f15;
  text-decoration: none;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.logo img {

  margin-top: 10px;
  width: 30vw;
}


/* Menu de navegação */
nav {
  display: flex;
  z-index: 999;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Poppins;
  height: 7vh;
  padding: 5px 20px;
  background-color: rgb(255, 255, 255);
}

/* ICONE USUARIO */

.user i {
  font-size: 25px;
  color: #f37f75;
  cursor: pointer;
}

nav a:hover {
  opacity: 0.7;
}


#login-icon
{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px
}

#login-icon i{
  color:#f37f75;
  font-size: 20px;
}

#login-icon p{
  font-size: 15px;
}

