
{
  text-decoration: none;
  width: 90px;
  height: 34px;
  background-color: #aab746;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  border: 0;
  padding: 8px 0;
  font-family: poppins, sans-serif;
  border-radius: 12px;
  margin: 15px auto;
  line-height: 18px;
  display: inline-block;
}