
* {
  margin: 0;
  padding: 0;
  border: 5px;
  font-family: Poppins;
  /* background-color: #ffffff; */
  box-sizing: border-box;
}

body {
  background-image: url("https://wallpapercave.com/wp/dNXUSSF.jpg");
  background-size: cover;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: poppins, sans-serif;
  font-size: 12px;
  color: var(--primary-color);
  line-height: 1.2em;
  background-color: #ffffff;
}

/* Importando Fontes */
@font-face {
  font-family: Benguia;
  src: url(assets/fonte/BenguiatStd-Book.otf);
}

@font-face {
  font-family: Poppins;
  src: url(/fonte/Poppins-Regular.ttf);
}

/* ------------------MAIN---------------- */
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
}

/* LOGIN */

.box-login {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-left: 20%;
  padding-right: 2%;
  border-right: 1px solid #808080;
}

.box-login h1 {
  margin-bottom: 30px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
}

.box-register {
  padding-left: 2%;
  padding-right: 20%;
  align-items: center;
  text-align: center;
}

.login input {
  border: solid 0.5px rgb(199, 199, 199);
  border-radius: 10px;
  width: 500px;
  padding: 8px;
  margin-top: 10px;
  background-color: rgb(172, 165, 165);
  color: black;
  font-weight: 700;
}

.senha input {
  border: solid 0.5px rgb(199, 199, 199);
  border-radius: 10px;
  width: 500px;
  padding: 8px;
  margin-top: 10px;
  background-color: rgb(172, 165, 165);
  color: black;
  font-weight: 700;
}

.button-login {
  background-color: #f37f75;
  border-radius: 30px;
  color: white;
  font-weight: 700;
  cursor: pointer;
  padding: 15px;
}

.button-login:hover
{
    background-color: #fcaca4;
}

.perdeu-senha label {
  display: flex;
  gap: 5px;
}

.perdeu-senha {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  font-weight: bold;
}

.kkk {
  text-decoration: none;
  color: #f37f75;
}

.kkk:hover {
  text-decoration: dotted;
}

.box-register h1 {
  text-transform: uppercase;
}

.box-register {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 30px;
  letter-spacing: 3px;
  font-weight: 400;
  line-height: 17px;
}

/* ---------REGISTRE-SE---------- */
.button-cadastro {
  background-color: #f37f75;
  border-radius: 30px;
  color: white;
  font-weight: 700;
  cursor: pointer;
  padding: 15px;
  width: 200px;
}

.button-cadastro:hover
{
    background-color: #fcaca4;
}

.wrapper p 
{
    font-size: 15px;
}
