/* todos elementos  */
* {
  margin: 0;
  padding: 0;
  border: 5px;
  font-family: Poppins;
  background-color: #ffffff;
  box-sizing: border-box;
}

/* Importando Fontes */
@font-face {
  font-family: Benguia;
  src: url(assets/fonte/BenguiatStd-Book.otf);
}

@font-face {
  font-family: Poppins;
  src: url(/fonte/Poppins-Regular.ttf);
}

.logo img {
  padding-top: 20px;
  width: 40vw;
  transition: all 0.8s ease;
}

/* BODY */

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: poppins, sans-serif;
  font-size: 12px;
  color: var(--primary-color);
  line-height: 1.2em;
  background-color: #ffffff;
}

/* CARROSEL */

#prevButton,
#nextButton {
  font-size: 20px;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  margin-top: 6vw;
  padding: 20px;
  font-size: 20px;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.carrossel-container {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carrosel-slide {
  display: none;
}

.carrossel-container img {
  margin-top: 8vw;
  border-radius: 2vw;
  width: 1000px;
  height: 500px;
  transition: box-shadow 1s ease-in-out;
}

.carrosel-cainter image-hovered {
  box-shadow: 0 0 10px rgba(255, 3, 3, 0.925);
}

/* CATALOGO */

.box-flex {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
}

.listagem-produtos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 -7px;
}

.listagem-produtos .box-produto {
  width: 350px;
  padding: 10px;
  margin: 10px;
  text-align: center;
  font-weight: 700;
}

form {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  height: 100%;
}

.listagem-produtos .box-produto figure img {
  width: 200px;
  height: 200px;
  object-fit: contain;
}

.listagem-produtos .box-produto h3 {
  font-size: 12px;
  margin: 10px 0;
  color: var(--primary-color);
}

.listagem-produtos .box-produto .obs {
  font-size: 13px;
  font-weight: 400;
  display: block;
  margin-bottom: 12px;
  word-wrap: break-word;
}

.listagem-produtos .box-produto .valor {
  font-size: 15px;
  color: var(--primary-color);
  margin-bottom: 14px;
}

.container {
  width: 100%;
  padding: 0 22px;
  flex-grow: 1;
}

div {
  display: block;
}

img {
  overflow-clip-margin: content-box;
  overflow: clip;
}

a:-webkit-any-link {
  color: black;
  cursor: pointer;
}

button {
  cursor: pointer;
}

/* BOTÃO DE COMPRAR */

.listagem-produtos .box-produto button:not([type="button"]),
.listagem-produtos .box-produto .btn {
  text-decoration: none;
  width: 90px;
  height: 34px;
  background-color: #aab746;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  border: 0;
  padding: 8px 0;
  font-family: poppins, sans-serif;
  border-radius: 12px;
  margin: 15px auto;
  line-height: 18px;
  display: inline-block;
}

.btn-color {
  background-color: #b82012 !important;
}

/* --------login-------- */

/* --------Carrinho de Compras-------- */

.container-cart {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 1;
  height: 90%;
  width: 0px;
  background-color: #edc0bc;
  border-radius: 5px 0 0 5px;
  transition: width 0.5s ease-out;
}
