/* todos elementos  */
* {
  margin: 0;
  padding: 0;
  border: 5px;
  font-family: Poppins;
  background-color: #ffffff;
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: border-box;
}

/* Importando Fontes */
@font-face {
  font-family: Benguia;
  src: url(assets/fonte/BenguiatStd-Book.otf);
}
@font-face {
font-family: Poppins;
  src: url(/fonte/Poppins-Regular.ttf);
}

/* HEADER */

/* Logo Floricultura Teresinha */
.logo {
  font-family: Poppins;
  color: #043f15;
  text-decoration: none;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
}
.logo img {
  margin-top: 2px;
  width: 25vw;
}

/* Links do menu */
a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  transition: 0.3s;
  font-weight: 500;
  background-color: transparent;
}

a:hover {
  opacity: 0.7;
}

/* Menu de navegação */
nav {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Poppins;
  height: 8vh;
  padding: 2vh 2vh;
  background-color: #ffffff;
  margin-bottom: 10vh;
}


.mobile-menu {
  display: block;
  cursor: pointer;
}

.mobile-menu div {
  width: 20px;
  height: 3px;
  margin: 4px;
  background-color: rgb(0, 0, 0);
  border-radius: 15px;
  border: solid 0.5px rgb(0, 0, 0);
  transition: 0.3s;
}

.nav-list.active {
  transform: translateX(0);
}
.nav-list a {
  color: rgb(0, 0, 0);
}
.nav-list {
  position: fixed;
  color: white;
  top: 8vh;
  left: 0px;
  font-size: 20px;
  font-weight: bold;
  gap: 50px;
  width: 20%;
  height: 100%;
  background: rgba(247, 173, 175, 0.95);
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in;
}

.nav-list li {
  opacity: 1;
  margin-top: 50px;
  margin-left: 20px;
  background-color: rgba(247, 173, 175, 0.95);
}


/* SOBRE, CATALOGO E  CONTATO */
.nav-list {
  list-style: none;
  display: flex;
  color: black;
}

.nav-list li {
  letter-spacing: 3px;
  margin-right: 32px;
}

nav a img {
  width: 30px;
}

/* BODY */

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: poppins, sans-serif;
  font-size: 12px;
  color: var(--primary-color);
  line-height: 1.2em;
  background-color: #ffffff;
}

/* CARROSEL */
.carrossel-container {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.carrosel-slide {
  display: none;
}

.carrossel-container img {
  margin-top: 8vw;
  border-radius: 2vw;
  width: 1200px;
  height: 500px;
  transition: box-shadow 1s ease-in-out;
}

.carrosel-cainter image-hovered {
  box-shadow: 0 0 10px rgba(255, 3, 3, 0.925);
}

.box-flex {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
}
*,
::after,
::before {
  box-sizing: border-box;
}
.listagem-produtos {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -7px;
}
/* .listagem-produtos .box-produto {
  width: calc(33.333333333% - 14px);
  padding-bottom: 14px;
  margin: 0 7px 14px;
  text-align: center;
  font-weight: 700;
} */
.listagem-produtos .box-produto {
  width: calc(
    20% - 20px
  ); /* Adjusted width for five items, with margin and padding */
  padding: 10px;
  margin: 10px;
  text-align: center;
  font-weight: 700;
}

.listagem-produtos .box-produto figure img {
  min-width: 241px;
  min-height: 241px;
  max-width: 241px;
  max-height: 241px;
  object-fit: contain;
}
.listagem-produtos .box-produto h3 {
  font-size: 12px;
  margin: 10px 0;
  color: var(--primary-color);
}
.listagem-produtos .box-produto .obs {
  font-size: 13px;
  font-weight: 400;
  display: block;
  margin-bottom: 12px;
  word-wrap: break-word;
}
.listagem-produtos .box-produto .valor {
  font-size: 15px;
  color: var(--primary-color);
  margin-bottom: 14px;
}

.container {
  width: 100%;
  padding: 0 22px;
  flex-grow: 1;
}

div {
  display: block;
}

img {
  overflow-clip-margin: content-box;
  overflow: clip;
}

a:-webkit-any-link {
  color: black;
  cursor: pointer;
}

/* WHATSAPP FLUTUANTE */

.whats {
  position: fixed;
  width: 50px;
  height: 50px;
  right: 24px;
  bottom: 24px;
  background-color: white;
  text-align: center;
  display: flex;
  align-items: center;
  border-radius: 50px;
  z-index: 2;
}

#logo-wpp-flutuante {
  fill: #ffffff;
  width: 70%;
  margin-bottom: -2px;
}

/* Definindo Padrão nos Botões */
button {
  cursor: pointer;
}
/* BOTÃO DE COMPRAR */

.listagem-produtos .box-produto button:not([type="button"]),
.listagem-produtos .box-produto .btn {
  width: 90px;
  height: 34px;
  background-color: #aab746;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  border: 0;
  padding: 8px 0;
  font-family: poppins, sans-serif;
  border-radius: 12px;
  margin: 15px auto;
  line-height: 18px;
  display: inline-block;
}
.btn-color {
  background-color: #f37f75 !important;
}

/* FOOTER */
#rodape {
  font-size: 12px;
  text-align: center;
  padding-top: 15px;
  background-color: #f7adaf;
  color: #fff;
  line-height: 1.4em;
  margin-top: 50px;
  width: 100%;
}
.container {
  width: 100%;
  padding: 0 22px;
  flex-grow: 1;
}
#rodape p {
  margin-top: 0;
}

form {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  height: 100%;
}
