/* MEDIA  */

@media screen and (max-width: 1700px) {
  
  .listagem-produtos .box-produto {
    width: 200px;
    padding: 5px;
    margin-left: 1%;
    margin-right: 1%;
    text-align: center;
    font-weight: 700;
  }
}


/* @media screen and (min-width: 1200px) {
  .logo img {
    margin-bottom: 5%;
    width: 30vw;
    transition: all 0.8s ease;
  }

  .listagem-produtos .box-produto {
    width: 200px;
    padding: 10px;
    margin-left: 50px;
    text-align: center;
    font-weight: 700;
  }

  .shopping span {
    font-size: 13px;
    background-color: black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: white;
    position: -5px;
    top: 51px;
    right: 33px;
    padding: 4px 7px;
  }
} */

/* MEDIA  */
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .listagem-produtos .box-produto {
    width: 200px;
    padding: 10px;
    margin-left: 1%;
    margin-right: 1%;
    text-align: center;
    font-weight: 700;
  }

  .logo img {
    margin-bottom: 5%;
    width: 40vw;
    transition: all 0.8s ease;
  }

  .carrossel-container img {
    margin-top: 15vw;
    border-radius: 2vw;
    width: 650px;
    height: 400px;
  }

  #prevButton,
  #nextButton {
    margin: 20px;
    font-size: 20px;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    margin-top: 9vw;
  }
}

.shopping span {
  font-size: 13px;
  background-color: black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  color: white;
  position: -5px;
  top: 47px;
  right: 29px;
  padding: 4px 7px;
}

/* MEDIA  */
@media screen and (min-width: 768px) and (max-width: 991px) {
  .logo img {
    margin-bottom: 5%;
    width: 50vw;
    transition: all 0.8s ease;
  }

  .carrossel-container img {
    margin-top: 15vw;
    border-radius: 2vw;
    width: 500px;
    height: 300px;
    transition: box-shadow 1s ease-in-out;
  }

  .listagem-produtos .box-produto {
    width: 200px;
    padding: 10px;
    margin-left: 1%;
    margin-right: 1%;
    text-align: center;
    font-weight: 700;
  }
  .shopping span {
    font-size: 10px;
    background-color: black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: white;
    position: -5px;
    top: 47px;
    right: 29px;
    padding: 3px 5px;
  }

}

/* MEDIA  */
@media screen and (max-width: 767px) {
  .user i {
    margin: 10px;
    font-size: 22px;
    color: #f37f75;
    cursor: pointer;
  }

  .shopping i {
    font-size: 25px;
  }

  .shopping span {
    font-size: 10px;
    background-color: black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: white;
    position: -5px;
    top: 49px;
    right: 32px;
    padding: 3px 5px;
  }

  .logo img {
    margin-bottom: 10%;
    width: 50vw;
    transition: all 0.8s ease;
  }

  .carrossel-container img {
    margin-top: 15vw;
    border-radius: 2vw;
    width: 400px;
    height: 300px;
    transition: box-shadow 1s ease-in-out;
  }

  .listagem-produtos .box-produto figure img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }

  .listagem-produtos .box-produto {
    width: 200px;
    padding-left: 3%;
    margin-left: 1%;
    margin-right: 1%;
    text-align: center;
    font-weight: 700;
  }
}

@media screen and (max-width: 400px) {
  .logo img {
    margin-bottom: 5%;
    padding-bottom: 20px;
    width: 65vw;
    transition: all 0.8s ease;
  }

  .carrossel-container img {
    margin-top: 15vw;
    border-radius: 2vw;
    width: 300px;
    height: 150px;
    transition: box-shadow 1s ease-in-out;
  }

  #prevButton,
  #nextButton {
    display: none;
  }

  .shopping i {
    font-size: 25px;
    color: #f37f75;
    cursor: pointer;
  }

  .shopping span {
    font-size: 10px;
    background-color: black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: white;
    position: -5px;
    top: 45px;
    right: 27px;
    padding: 4px 7px;
  }

  .listagem-produtos .box-produto {
    margin-left: 3%;
    margin-right: 3%;
    width: 200px;
    text-align: center;
    font-weight: 700;
  }

  .user i {
    margin: 20px 10px;
    font-size: 22px;
    color: #f37f75;
    cursor: pointer;
  }
}
